<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARTISTREE [ADD]</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/materials.css">
</head>

<body>
    <!-- Navigation Bar -->
    <nav>
        <div class=" card card-nav-tabs card-plain">
            <div class="navbar navbar-color-on-scroll fixed-top navbar-expand-lg card-header card-header-success">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <ul class="nav nav-tabs" data-tabs="tabs">
                            <li class="nav-item">
                                <a class="nav-link" href="/home" data-toggle="tab">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/add" data-toggle="/add">Add</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/collection" data-toggle="/collection">collection</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav> <br>
    <!-- Navigation Bar END -->










</body>

</html>