<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ARTISTREE [ADD]</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/styles.css">
	<link rel="stylesheet" href="css/materials.css">
</head>

<body>
	<!-- Navigation Bar -->
	<nav>
		<div class=" card card-nav-tabs card-plain">
			<div class="navbar navbar-color-on-scroll fixed-top navbar-expand-lg card-header card-header-success">
				<div class="nav-tabs-navigation">
					<div class="nav-tabs-wrapper">
						<ul class="nav nav-tabs" data-tabs="tabs">
							<li class="nav-item">
								<a class="nav-link " href="/home" data-toggle="/home">Home</a>
							</li>
							<li class=" dropdown nav-item">
								<a href="/add" class="dropdown-toggle nav-link" data-toggle="dropdown">ADD</a>
								<div class="dropdown-menu">
									<a href="/add_projects" class="dropdown-item">Add Projects</a>
									<div class="dropdown_divider"></div>
									<a href="/add_entries" class="dropdown-item">Add Entries</a>
									<div class="dropdown-divider"></div>
									<a href="/add_tasks" class="dropdown-item">Add Tasks</a> 
								</div>
								<li class="nav-item">
									<a class="nav-link" href="/collection" data-toggle="/collection">collection</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/" data-toggle="/">logout</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav> <br>
		<!-- Navigation Bar END -->
	

	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/components.js"></script>
	<script src="js/bootstrap-datetimepicker.min.js"></script>
</body>

</html>