<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ARTISTREE [ADD]</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/styles.css">
	<link rel="stylesheet" href="css/materials.css">
</head>

<body>
	<!-- Navigation Bar -->
	<nav>
		<div class=" card card-nav-tabs card-plain">
			<div class="navbar navbar-color-on-scroll fixed-top navbar-expand-lg card-header card-header-success">
				<div class="nav-tabs-navigation">
					<div class="nav-tabs-wrapper">
						<ul class="nav nav-tabs" data-tabs="tabs">
							<li class="nav-item">
								<a class="nav-link " href="/home" data-toggle="/home">Home</a>
							</li>
							<li class=" dropdown nav-item">
								<a href="/add" class="dropdown-toggle nav-link" data-toggle="dropdown">ADD</a>
								<div class="dropdown-menu">
									<a href="/add_projects" class="dropdown-item">Add Projects</a>
									<div class="dropdown_divider"></div>
									<a href="/add_entries" class="dropdown-item">Add Entries</a>
									<div class="dropdown-divider"></div>
									<a href="/add_tasks" class="dropdown-item">Add Tasks</a> 
								</div>
								<li class="nav-item">
									<a class="nav-link" href="/collection" data-toggle="/collection">collection</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/" data-toggle="/">logout</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav> <br>
		<!-- Navigation Bar END -->



		<!-- FORM -->
		<div class="container">
			<div class="row">
				<div class="col-md-4 ml-auto mr-auto">
					<div class="card card-signup">
						<form class="form" method="" action="">
							<p class="text-divider">Get started on your project!</p>
							<div class="card-body">

								<div class="form-group">
									<label for="exampleFormControlSelect1">Project Name</label>
									
									<input type="text" class="form-control" id="projName" placeholder="project">
								</div>

								<br>

								<div class="form-group">
									<label for="exampleFormControlSelect1">Art Form</label>
									<select class="form-control" id="artForm">
										<option>Art 1</option>
										<option>Art 2</option>
										<option>Art 3</option>
									</select>
								</div>
								
								<br>

								<div class="input-group">
									<label for="exampleFormControlSelect1">Duedate</label>
									
									<input type="text" class="form-control datetimepicker" id="dueDate" placeholder="01/01/2018"> </div>


									<br><br>

									<div class="form-group">
										<label for="exampleFormControlTextarea1">Description</label>
										<textarea class="form-control" id="description" rows="3"></textarea>
									</div>  

								<div class="task">
									<div id="myDIV" class="header">
  										<h5>Tasks to Complete</h5>
  										<input type="text" id="myInput" placeholder="Tasks...">
  										<span onclick="newElement()" class="btn btn-primary btn-sm">Add</span>
									</div>
								</div>

									<ul id="myUL"></ul>

								</div>
								<div class="card-footer justify-content-center">
									<button type="button" id="input" class="btn btn-link btn-primary btn-lg" onclick="saveLocal();">Get Started</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>





		</div>
	</div>



	<!-- JSFILES -->
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/components.js"></script>
	<script src="js/bootstrap-datetimepicker.min.js"></script>
	<script src="routes/add_projects.js"></script>
	<script>
		$(document).ready(function() {
			materialKitDemo.initFormExtendedDatetimepickers();
            // Sliders for demo purpose in refine cards section
            var slider = document.getElementById('sliderRegular');

            noUiSlider.create(slider, {
            	start: 40,
            	connect: [true, false],
            	range: {
            		min: 0,
            		max: 100
            	}
            });

            var slider2 = document.getElementById('sliderDouble');

            noUiSlider.create(slider2, {
            	start: [20, 60],
            	connect: true,
            	range: {
            		min: 0,
            		max: 100
            	}
            });
        });

        var myNodelist = document.getElementsByTagName("LI");
var i;
for (i = 0; i < myNodelist.length; i++) {
  var span = document.createElement("SPAN");
  var txt = document.createTextNode("\u00D7");
  span.className = "close";
  span.appendChild(txt);
  myNodelist[i].appendChild(span);
}


//add a check
var list = document.querySelector('ul');
list.addEventListener('click', function(ev) {
  if (ev.target.tagName === 'LI') {
    ev.target.classList.toggle('checked');
  }
}, false);

//new task
function newElement() {
  var li = document.createElement("li");
  var inputValue = document.getElementById("myInput").value;
  var t = document.createTextNode(inputValue);
  li.appendChild(t);
  if (inputValue === '') {
    alert("You must write something!");
  } else {
    document.getElementById("myUL").appendChild(li);
  }
  document.getElementById("myInput").value = "";

  /*var span = document.createElement("SPAN");
  var txt = document.createTextNode("\u00D7");
  span.className = "close";
  span.appendChild(txt);
  li.appendChild(span);*/

  for (i = 0; i < close.length; i++) {
    close[i].onclick = function() {
      var div = this.parentElement;
      div.style.display = "none";
    }
  }
}
    </script>
<script>
// Check browser support
if (typeof(Storage) !== "undefined") {
    // Store
    function saveLocal(){

    //console.log("hi");
    var thisName = document.getElementById("projName").value;
    var thisForm = document.getElementById("artForm").value;
    var thisDate = document.getElementById("dueDate").value;
    var thisDescription = document.getElementById("description").value;
    var arr = document.getElementById("myUL");
    //console.log(typeof(arr));
    var li = arr.getElementsByTagName('li');
    var thisList = new Array();
    for (var i=0; i<li.length; i++){
    	thisList.push(li[i].innerText)
    }
    //console.log(JSON.stringify(thisList));


    //if item in project already exists
    if (localStorage.projName){
    	var storedNames = JSON.parse(localStorage.getItem("projName"));
    	storedNames.push(thisName);

    	var artForm = JSON.parse(localStorage.getItem("artForm"));
    	artForm.push(thisForm);

    	var dueDate = JSON.parse(localStorage.getItem("dueDate"));
    	dueDate.push(thisDate);

    	var description = JSON.parse(localStorage.getItem("description"));
    	description.push(thisDescription);

    	var taskList = JSON.parse(localStorage.getItem("taskList"));
    	taskList.push(thisList);
	}else{
		//if completely new project
		var storedNames = [];
		storedNames[0] = thisName;

		var artForm = [];
		artForm[0] = thisForm;

		var dueDate = [];
		dueDate[0] = thisDate;

		var description = [];
		description[0] = thisDescription;

		var taskList = [];
		taskList[0] = thisList;
	}

	//stores into localStorage as a string
    //console.log();
    localStorage.setItem("projName", JSON.stringify(storedNames));
    localStorage.setItem("artForm", JSON.stringify(artForm));
    localStorage.setItem("dueDate", JSON.stringify(dueDate));
    localStorage.setItem("description", JSON.stringify(description));
    localStorage.setItem("taskList", JSON.stringify(taskList));
    // Retrieve
    }
} else {
    document.getElementById("result").innerHTML = "Sorry, your browser does not support Web Storage...";
}
</script>
</body>



</html>


