<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ARTISTREE [ENTRIES]</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/styles.css">
	<link rel="stylesheet" href="css/materials.css">
</head>

<body>
	<!-- Navigation Bar -->
	<nav>
		<div class=" card card-nav-tabs card-plain">
			<div class="navbar navbar-color-on-scroll fixed-top navbar-expand-lg card-header card-header-success">
				<div class="nav-tabs-navigation">
					<div class="nav-tabs-wrapper">
						<ul class="nav nav-tabs" data-tabs="tabs">
							<li class="nav-item">
								<a class="nav-link " href="/home" data-toggle="/home">Home</a>
							</li>

<!--                             <li class=" dropdown nav-item">
                                <a href="/add" class="dropdown-toggle nav-link" data-toggle="dropdown">ADD</a>
                                <div class="dropdown-menu">
                                    <a href="/add_projects" class="dropdown-item">Add Projects</a>
                                </div> -->

                                <li class="nav-item">
                                	<a class="nav-link active" href="/add_projects" data-toggle="/add_projects">add</a>
                                </li>

                                <li class="nav-item">
                                	<a class="nav-link" href="/collection" data-toggle="/collection">collection</a>
                                </li>
                                <li class="nav-item">
                                	<a class="nav-link" href="/" data-toggle="/">logout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav> <br>
        <!-- Navigation Bar END -->



        <!-- FORM -->
        <div class="container">
        	<div class="row">
        		<div class="col-md-4 ml-auto mr-auto">
        			<div class="card card-signup">
        				<form class="form" method="" action="">
        					<p class="text-divider">ADD PROGRESS ENTRIES</p>
        					<div class="card-body">

        						<div class="form-group">
        							<label for="entryTitle">Title</label>

        							<input type="text" class="form-control" id="entryTitle" placeholder="entry title">

        						</div>

        						<br>

                                <div class="form-group">
                                    <label for="entryDate" class="label-control">Date</label>
                                    <input id='date' type="date" class="form-control datetimepicker" value="datetime" id="entryDate"/>
                                </div>
                                

                                <br>

                                <div class="form-group">
                                  <label for="content">Entry Content</label>
                                  <textarea class="form-control" id="content" rows="5">
                                  </textarea>
                              </div>  


                              <form method="post" enctype="multipart/form-data">
                                  <div>
                                    <label for="image_uploads">Choose files to upload</label> <br>
                                    <input type="file" id="image_uploads" name="image_uploads" accept=".jpg, .jpeg, .png" multiple>
                                </div>
                                <div class="preview">
                                    <p>No files currently selected for upload</p>
                                </div>

                            </form>


                            <div class="card-footer justify-content-center">
                             <button type="button" id="input" class="btn btn-link btn-primary btn-lg" onclick="saveLocal();">Add Entry</button>
                         </div>
                     </form>
                 </div>
             </div>
         </div>
     </div>





 </div>
</div>



<!-- JSFILES -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/components.js"></script>
<script src="js/bootstrap-datetimepicker.min.js"></script>
<script src="routes/add_projects.js"></script>

<!-- JS DATE PICKER -->
<script>
  <script>
  $(document).ready(function() {
     materialKitDemo.initFormExtendedDatetimepickers();
     var slider = document.getElementById('sliderRegular');
     noUiSlider.create(slider, {
         start: 40,
         connect: [true, false],
         range: {
             min: 0,
             max: 100
         }
     });

     var slider2 = document.getElementById('sliderDouble');

     noUiSlider.create(slider2, {
         start: [20, 60],
         connect: true,
         range: {
             min: 0,
             max: 100
         }
     });
 });
</script>
</script>
<!-- END JS DATE PICKER -->



<!-- L O C A L   S T O R A G E -->
<script>
// Check browser support
if (typeof(Storage) !== "undefined") {
    // Store
    function saveLocal(){

    	console.log("hi");
    	var thisName = document.getElementById("entryTitle").value;
    	var thisDate = document.getElementById("entryDate").value;
        var thisContent = document.getElementById("content").value;
    /*var arr = document.getElementById("myUL");
    //console.log(typeof(arr));
    var li = arr.getElementsByTagName('li');
    var thisList = new Array();
    for (var i=0; i<li.length; i++){
    	thisList.push(li[i].innerText)
    }*/
    //console.log(JSON.stringify(thisList));


    //if item in project already exists
    if (localStorage.entryTitle){

    	console.log("hi again");
    	var storedNames = JSON.parse(localStorage.getItem("entryTitle"));
    	storedNames.push(thisName);

    	var entryDate = JSON.parse(localStorage.getItem("entryDate"));
    	entryDate.push(thisDate);

    	//var entryDate = JSON.parse(localStorage.getItem("entryDate"));
    	//entryDate.push(thisDate);

    	var content = JSON.parse(localStorage.getItem("content"));
    	content.push(thisContent);

    	//var taskList = JSON.parse(localStorage.getItem("taskList"));
    	//taskList.push(thisList);
    }else{
		//if completely new project
		var storedNames = [];
		storedNames[0] = thisName;

		var entryDate = [];
		entryDate[0] = thisDate;

		var content = [];
		content[0] = thisContent;

		//var taskList = [];
		//taskList[0] = thisList;
	}

	//stores into localStorage as a string
	console.log("hi");
	localStorage.setItem("entryTitle", JSON.stringify(storedNames));
    localStorage.setItem("entryDate", JSON.stringify(entryDate));
    localStorage.setItem("content", JSON.stringify(content));
    //localStorage.setItem("taskList", JSON.stringify(taskList));
    // Retrieve
}
} else {
	document.getElementById("result").innerHTML = "Sorry, your browser does not support Web Storage...";
}
</script>

<!-- E N D   L O C A L   S T O R A G E -->



</body>



</html>