<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARTISTREE [COLLECTION]</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/materials.css">
    
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">

</head>

<body>
    <!-- Navigation Bar -->
    <nav>
        <div class=" card card-nav-tabs card-plain">
            <div class="navbar navbar-color-on-scroll fixed-top navbar-expand-lg card-header card-header-success">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <ul class="nav nav-tabs" data-tabs="tabs">

                            <li class="nav-item">
                                <a class="nav-link" href="/home" data-toggle="/home">Home</a>
                            </li>
<!--                             <li class=" dropdown nav-item">
                                <a href="/add" class="dropdown-toggle nav-link" data-toggle="dropdown">ADD</a>
                                <div class="dropdown-menu">
                                    <a href="/addProjects" class="dropdown-item">Add Projects</a>
                                </div> -->

                                <li class="nav-item">
                                    <a class="nav-link" href="/addProjects" data-toggle="/addProjects">add</a>
                                </li>


                                <li class="nav-item">
                                    <a class="nav-link active" href="/collection" data-toggle="/collection">collection</a>
                                </li>
                                <li class="nav-item">
                                 <a class="nav-link" href="/" data-toggle="/">logout</a>
                             </li>
                         </ul>
                     </div>
                 </div>
             </div>
         </div>
     </nav> <br>


     <br>
     <!-- ++++++++++++++++++++++++++++++ Navigation Bar END ++++++++++++++++++++++++++++++ -->

<h1 class="artistree-text text-center" style="font-size: 2.8rem; color: green;"> Completed Projects </h1>

     <section class="cd-timeline js-cd-timeline">
        <div class="cd-timeline__container">
            <div class="cd-timeline__block js-cd-block">
                <div class="cd-timeline__img cd-img-green js-cd-img">
                    <img src="img/cd-icon-picture.svg" alt="Picture">
                </div> <!-- cd-timeline__img -->

                <div class="cd-timeline__content js-cd-content">
                    <h2>Engagment Shoot</h2>
                    <p> 
                        Engagemenet shoot with Andy and Amy. <br>
                        Location: Gardens by the Bay
                    </p>
                    <button class=" btn btn-success" data-toggle="modal" data-target="#project1" >Process</button>
                    <span class="cd-timeline__date">Feb 28</span>
                </div> <!-- cd-timeline__content -->
            </div> <!-- cd-timeline__block -->

            <div class="cd-timeline__block js-cd-block">
                <div class="cd-timeline__img cd-img-red js-cd-img">
                    <img src="img/cd-icon-movie.svg" alt="Movie">
                </div> <!-- cd-timeline__img -->

                <div class="cd-timeline__content js-cd-content">
                    <h2>Project Y</h2>
                    <p> Dance concept video shoot with Jaxon</p>
                    <button class=" btn btn-danger" data-toggle="modal" data-target="#" >Process</button>
                    <span class="cd-timeline__date">Feb 18</span>
                </div> <!-- cd-timeline__content -->
            </div> <!-- cd-timeline__block -->



            <div class="cd-timeline__block js-cd-block">
                <div class="cd-timeline__img cd-img-yellow js-cd-img">
                    <img src="img/music.svg" alt="Location">
                </div> <!-- cd-timeline__img -->

                <div class="cd-timeline__content js-cd-content">
                    <h2>Guitar 101</h2>
                    <p> Picked up the guitar and learned to play it for the first time!</p>
                    <button class=" btn btn-warning" data-toggle="modal" data-target="#project2" >Process</button>
                    <span class="cd-timeline__date">Jan 14</span>
                </div> <!-- cd-timeline__content -->
            </div> <!-- cd-timeline__block -->

            <div class="cd-timeline__block js-cd-block">
                <div class="cd-timeline__img cd-img-yellow js-cd-img">
                    <img src="img/music.svg" alt="Location">
                </div> <!-- cd-timeline__img -->

                <div class="cd-timeline__content js-cd-content">
                    <h2>Project Untitled</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum.</p>
                    <button class=" btn btn-warning" data-toggle="modal" data-target="#" >Process</button>
                    <span class="cd-timeline__date">Jan 01</span>
                </div> <!-- cd-timeline__content -->
            </div> <!-- cd-timeline__block -->

        </div>
    </section> <!-- cd-timeline -->



    <!-- Floating Modal -->
    <div class="modal fade" id="project1" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Engagement Shoot</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="material-icons">x</i>
                    </button>
                </div>
                <div class="modal-body">
                    <h3> Location scouting </h3>
                    <h4> January 1, 2018 </h4>
                    <p> Beautiful garden area in the Botanical Gardens
                        <br>
                        <img src="/img/garden.jpg"  style= "width:206px;height:137px" > 
                    </p> 
                    <br> <hr>

                    <h3> Camera gear set up </h3>
                    <h4> January 5, 2018 </h4>
                    <p> Bringing on set: 35mm f/1.4, 85mm f/1.8 
                        <br>
                        Decided to bring these lens out because they are prime to shoot close up and minimal subjects. 
                    </p> 
                    <br> <hr>



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link btn-success" href="/addEntries" >Add Entries</button>
                    <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="project2" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Learn Guitar Basics</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="material-icons">x</i>
                    </button>
                </div>
                <div class="modal-body">
                    <h3> 2 Hour Practice </h3>
                    <h4> January 1, 2018 </h4>
                    <p> Practiced for two hours today. Worked on all major chords. Feeling pretty good! 

                        <audio controls>
                          <source src="/audio/24.wav" type="audio/wav">
                          </audio>

                      </p> 
                      <hr>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-link btn-success">Add Entries</button>
                    <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--  End Modal -->




    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/components.js"></script>
    <script src="js/artistree.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115253314-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-115253314-1');
  </script>

</body>

</html>




