<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARTISTREE</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/materials.css">
</head>

<body>
    <!-- Navigation Bar -->
    <nav>
        <div class=" card card-nav-tabs card-plain">
            <div class="navbar navbar-color-on-scroll fixed-top navbar-expand-lg card-header card-header-success">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <ul class="nav nav-tabs" data-tabs="tabs">
                            <li class="nav-item">
                                <a class="nav-link active" href="/home" data-toggle="tab">Home</a>
                            </li>

<!--                             <li class=" dropdown nav-item">
                                <a href="/add" class="dropdown-toggle nav-link" data-toggle="dropdown">ADD</a>
                                <div class="dropdown-menu">
                                    <a href="/add_projects" class="dropdown-item">Add Projects</a>
                                </div> -->

                                <li class="nav-item">
                                    <a class="nav-link" href="/add_projects" data-toggle="/add_projects">add</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/collection" data-toggle="/collection">collection</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/" data-toggle="/">logout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav> <br>


        <!-- Navigation Bar END -->

        <center>

            <h1 class="title" style="color: #2fd889"> ARTISTREE </h1>


            <br><br>
            <div class="main main-raised"> 
                <div class="container">

                    <!-- Current date -->
                    <!-- <div class="title"> <h2><span id="datetime"></span></h2> </div> -->

                    <!-- Active Project tabs -->
                    <h2> ACTIVE PROJECTS </h2>

                    <div class="card card-nav-tabs">
                        <div class="card-header card-header-primary">
                            <div class="nav-tabs-navigation">
                                <div class="nav-tabs-wrapper">
                                    <ul class="nav nav-tabs" data-tabs="tabs">


                                        <li class="nav-item">
                                            <a class="nav-link active" href="#art" data-toggle="tab">
                                               ALL
                                           </a>
                                       </li>

                                       <li class="nav-item">
                                        <a class="nav-link" href="#art1" data-toggle="tab">
                                            Photography
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="#art2" data-toggle="tab">
                                            Music
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Active Projects List -->
                    <div class="card-body ">
                        <div class="tab-content text-center">
                            <div class="tab-pane active" id="art">


                                <div class="row">
                                    <div class="col-lg-4 col-md-6">
                                        <button class="btn btn-block  btn-info " data-toggle="modal" data-target="#project1">
                                            Engagment Shoot
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-6">
                                        <button class="btn btn-block  btn-rose " data-toggle="modal" data-target="#project2">
                                            Learn Guitar Basics
                                        </button>
                                    </div>
                                </div>

                                <div id="result"></div>
                                <div id="result1"></div>
                                <div id="result2"></div>
                                <div id="result3"></div>
                                <div id="result4"></div>

                            </div>

                            <div class="tab-pane" id="art1">
                                <div class="row">
                                    <div class="col-lg-4 col-md-6">
                                        <button class="btn btn-block  btn-info " data-toggle="modal" data-target="#project1">
                                            Engagment Shoot
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" id="art2">
                                <div class="row">
                                    <div class="col-lg-4 col-md-6">
                                        <button class="btn btn-block  btn-rose " data-toggle="modal" data-target="#project2">
                                            Learn Guitar Basics
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>



                <!-- Completed Project tabs -->
                <h2> COMPLETED PROJECTS </h2>

                <div class="card card-nav-tabs">
                    <div class="card-header card-header-default">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <ul class="nav nav-tabs" data-tabs="tabs">


                                    <li class="nav-item">
                                        <a class="nav-link active" href="#c-art" data-toggle="tab">
                                           ALL
                                       </a>
                                   </li>

                                   <li class="nav-item">
                                    <a class="nav-link" href="#c-art1" data-toggle="tab">
                                        Photography
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="#c-art2" data-toggle="tab">
                                        Music
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Active Projects List -->
                <div class="card-body ">
                    <div class="tab-content text-center">
                        <div class="tab-pane active" id="c-art">


                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <button class="btn btn-block  btn-primary " data-toggle="modal" data-target="#project1">
                                        Engagment Shoot 0
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <button class="btn btn-block  btn-primary " data-toggle="modal" data-target="#project2">
                                        Learn Guitar Basics 0
                                    </button>
                                </div>
                            </div>


                        </div>

                        <div class="tab-pane" id="c-art1">
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                   
                                    <button class="btn btn-block  btn-primary " data-toggle="modal" data-target="#project1">
                                        Engagment Shoot 0
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="c-art2">
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <button class="btn btn-block  btn-primary " data-toggle="modal" data-target="#project2">
                                        Learn Guitar Basics 0
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>



        </div>
    </div>  
</div>
</center>



<!-- Floating Modal -->
<div class="modal fade" id="project1" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Engagement Shoot</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="material-icons">x</i>
                </button>
            </div>
            <div class="modal-body">
                <h3> Location scouting </h3>
                <h4> January 1, 2018 </h4>
                <p> Beautiful garden area in the Botanical Gardens
                    <br>
                    <img src="/img/garden.jpg"  style= "width:206px;height:137px" > 
                </p> 
                <br> <hr>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link btn-success" href="/add_entries" >Add Entries</button>
                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="project2" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Learn Guitar Basics</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="material-icons">x</i>
                </button>
            </div>
            <div class="modal-body">
                <h3> 2 Hour Practice </h3>
                <h4> January 1, 2018 </h4>
                <p> Practiced for two hours today. Worked on all major chords. Feeling pretty good! 
                    
                    <audio controls>
                      <source src="/audio/24.wav" type="audio/wav">
                      </audio>

                  </p> 
                  <hr>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-link btn-success">Add Entries</button>
                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--  End Modal -->

<!--- date/time --> 
<script>

//localStorage.clear();

//displaying the storage onto active projects
var projectsArray = JSON.parse(localStorage.getItem("projName"));

//this gets individual elements in the array
//document.getElementById("result").innerHTML = projectsArray[0];
//document.getElementById("result1").innerHTML = projectsArray[1];


    if (localStorage.projName){
        document.getElementById("result").innerHTML = localStorage.getItem("projName");
        document.getElementById("result1").innerHTML = localStorage.getItem("artForm");
        //document.getElementById("result2").innerHTML = localStorage.getItem("dueDate");
        document.getElementById("result3").innerHTML = localStorage.getItem("description");
        //document.getElementById("result4").innerHTML = localStorage.getItem("taskList");

    }

    var dt = new Date();
    document.getElementById("datetime").innerHTML = dt.toLocaleDateString();



</script>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/components.js"></script>
<script src="js/artistree.js"></script>
</body>

</html>

