<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARTISTREE</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/materials.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
</head>

<body class="signup-page ">
    <nav class="navbar  navbar-transparent    navbar-absolute  navbar-expand-lg " color-on-scroll="100" id="sectionsNav"> </nav>




    <div class="page-header header-filter" filter-color="white" style="background-image: url(&apos;../img/bg.jpg&apos;); background-size: cover; background-position: top center;">



        <div class="container">

            <h1 class="artistree-text text-center"> Artistree </h1> 
            <h1 class="artistree-sub-text text-center"> Connect your multi-creative process under one tree </h1>

            <br> 

            <div class="row">

                <div class="col-sm-6 ml-auto mr-auto">
                    <div class="card card-signup">
                        <!-- <h2 class="card-title text-center">Register</h2> -->
                        <div class="card-body">
                            <div class="row">

                                <!-- SIDE INFO IF NEEDED -->
                                <!-- <div class="col-md-5 ml-auto" style="display: none;">


                               <div class="info info-horizontal">
                                        <div class="icon icon-rose">
                                            <i class="material-icons">add</i>
                                        </div>
                                        <div class="description">
                                            <h5 class="info-title">Add your art and projects</h5>
                                        </div>
                                    </div>
                                    <div class="info info-horizontal">
                                        <div class="icon icon-primary">
                                            <i class="material-icons">description</i>
                                        </div>
                                        <div class="description">
                                            <h5 class="info-title">Record your process</h5>
                                        </div>
                                    </div>
                                    <div class="info info-horizontal">
                                        <div class="icon icon-info">
                                            <i class="material-icons">timeline</i>
                                        </div>
                                        <div class="description">
                                            <h5 class="info-title">Look back at your accomplishments</h5>
                                        </div>
                                    </div>
                                </div> -->



                                <div class="col-sm-6 mr-auto ml-auto">

                                    <form class="form" method="" action="">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">face</i>
                                                </span>
                                                <input type="text" class="form-control" placeholder="Email">
                                            </div>
                                        </div>

                                        <div class="form-group" style="display: none;">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">email</i>
                                                </span>
                                                <input type="text" class="form-control" placeholder="Email...">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">lock_outline</i>
                                                </span>
                                                <input type="password" placeholder="Password" class="form-control" />
                                            </div>
                                        </div>

                                        <!-- LOGIN BUTTON -->
                                        <div class="text-center">
                                            <a href="/home" class="btn btn-primary btn-round">Log in</a>
                                        </div>

                                        <!-- REGISTER BUTTON -->
                                        <div class="text-center">
                                            <a href="/register" class="btn btn-primary btn-link btn-sm">Register</a>
                                        </div>
                                        
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>


    </html>