<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARTISTREE2</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/Fixed-navbar-starting-with-transparency.css">
    <link rel="stylesheet" href="css/Central-Aligned-Clear-Nav.css">
    <link rel="stylesheet" href="css/Login-Form.css">
    <link rel="stylesheet" href="css/Registration-Form.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="row register-form">
        <div class="col-md-8 offset-md-2">
            <form class="custom-form" style="width:auto;height:auto;padding-top:35px;padding-bottom:auto;">
                <div class="col-2" style="width:auto;height:auto;"><a class="btn btn-primary" role="button" href="login.html" style="background-color:rgb(206,255,237);font-size:33px;color:rgb(72,72,72);height:33px;margin:0;padding:12px;background-position:top;background-size:auto;margin-top:0;line-height:0;letter-spacing:0;width:42px;margin-right:27px;"><strong>«</strong><br></a></div>
                <h1
                    style="padding-left:8px;">Register Form</h1>
                    <div class="form-row form-group">
                        <div class="col-sm-4 label-column"><label class="col-form-label" for="name-input-field">Name </label></div>
                        <div class="col-sm-6 input-column"><input class="form-control" type="text"></div>
                    </div>
                    <div class="form-row form-group">
                        <div class="col-sm-4 label-column"><label class="col-form-label" for="email-input-field">Email </label></div>
                        <div class="col-sm-6 input-column"><input class="form-control" type="email"></div>
                    </div>
                    <div class="form-row form-group">
                        <div class="col-sm-4 label-column"><label class="col-form-label" for="pawssword-input-field">Password </label></div>
                        <div class="col-sm-6 input-column"><input class="form-control" type="password"></div>
                    </div>
                    <div class="form-row form-group">
                        <div class="col-sm-4 label-column"><label class="col-form-label" for="repeat-pawssword-input-field">Repeat Password </label></div>
                        <div class="col-sm-6 input-column"><input class="form-control" type="password"></div>
                    </div><a class="btn btn-light submit-button" role="button" href="home.html" style="background-color:rgb(86,211,166);">Sign up</a></form>
        </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/Fixed-navbar-starting-with-transparency.js"></script>
</body>

</html>