<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARTISTREE2</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/materials.css">
    
</head>

<body>
    <div class="register-form">
        <div class="col-md-8 offset-md-2">
            <form class="custom-form" style="width:auto;height:auto;padding-top:35px;padding-bottom:auto;">

                <center> 

                    <h1>Register Form</h1>
                    <div class="form-row form-group">
                        <div id="reg-name" class="col-sm-4 label-column"><label class="col-form-label" for="name-input-field">Name </label></div>
                        <div class="col-sm-6 input-column"><input class="form-control" type="text"></div>
                

                        <div id="reg-email" class="col-sm-4 label-column"><label class="col-form-label" for="email-input-field">Email </label></div>
                        <div class="col-sm-6 input-column"><input class="form-control" type="email"></div>

                        <div id="reg-password" class="col-sm-4 label-column"><label class="col-form-label" for="pawssword-input-field">Password </label></div>
                        <div id="reg-password" class="col-sm-6 input-column"><input class="form-control" type="password"></div>
   
                        <div id="reg-password" class="col-sm-4 label-column"><label class="col-form-label" for="repeat-pawssword-input-field">Repeat Password </label></div>
                       
                        <div class="col-sm-6 input-column"><input class="form-control" type="password"></div>

                    </div>

                    <button id="register-btn" class="login-btn btn" style="background-color:rgb(86,211,166)"> Register </button>
                </form>

                    <p class="signup-text">Aready a member? <a href="/"><u>Log In!</u><a><p>

                </center>
        </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/components.js"></script>
</body>

</html>